Repository adfinis/backupctl: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yamllint

.pre-commit-config.yaml:

---

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: yamllint -c .yamllint
        language: system
        types: [yaml]

Add yamllint configuration file
  .yamllint
Due: none

Add pre-commit requirement python modules
  requirements.txt
Due: none

Add usage for pre-commit hooks
  README.rst
Due: none

Check if mountpoint is a directory before deleting
  backupctl/backupctl.py
Due: isort

Bump version again
  backupctl/version.py
Due: isort

Fix "code" syntax
  README.rst
Due: none

Bump version (#58)
  backupctl/version.py
Due: isort

Fix "code" syntax (#60)
  README.rst
Due: none

add github rpm build action
  .github/workflows/actions.yml
  .github/workflows/python-package.yml
  nfpm.yaml
Due: yamllint

Fix yaml lint errors 1/2
  .github/workflows/actions.yml
Due: yamllint

Fix yaml lint errors 2/2
  nfpm.yaml
Due: yamllint

Replace hardcoded version with envvar
  nfpm.yaml
Due: yamllint

Replace hardcoded value with variable
  backupctl.8.rst
Due: none

replace hardcoded value with variable
  backupctl.spec
Due: none

Replace hardcoded value with variables
  backupctl/version.py
Due: isort

Hopefully replace static version with variable
  .github/workflows/actions.yml
Due: yamllint

Escape and add regex option
  .github/workflows/actions.yml
Due: yamllint

Add additional file to replace version in
  .github/workflows/actions.yml
Due: yamllint

Replace version in nfpm.yaml too
  .github/workflows/actions.yml
Due: yamllint

Create version file to pull version from
  version
Due: none

Replace github env with version file
  .github/workflows/actions.yml
Due: yamllint

Add rpm action (#61)
  .github/workflows/actions.yml
  .github/workflows/python-package.yml
  backupctl.8.rst
  backupctl.spec
  backupctl/version.py
  nfpm.yaml
  version
Due: isort, yamllint

Downgrade python version
  .github/workflows/actions.yml
Due: yamllint

Increment version
  version
Due: none

Use several versions
  .github/workflows/actions.yml
Due: yamllint

Maybe this fixes it?
  .github/workflows/actions.yml
Due: yamllint

Define python path
  .github/workflows/actions.yml
Due: yamllint

Fix path once and for all
  .github/workflows/actions.yml
Due: yamllint

Use new build framework
  .github/workflows/actions.yml
Due: yamllint

only run pipeline for python 3.6
  .github/workflows/actions.yml
Due: yamllint

use setuptools instead of new buil utility
  .github/workflows/actions.yml
Due: yamllint

increment version in rst document
  backupctl.8.rst
  backupctl.spec
  backupctl/version.py
  nfpm.yaml
Due: isort, yamllint

update dependencies and build using setuptools, fix globbing
  nfpm.yaml
Due: yamllint

fix backupctl egg path
  nfpm.yaml
Due: yamllint

use bdist_rpm for building and change dependencies
  .github/workflows/actions.yml
  backupctl.spec
  setup.cfg
  setup.py
Due: isort, yamllint
